<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <style>
        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <table>
        <thead>
           
        </thead>
        <tbody>
            <tr>
                <td>
                    <div margin-bottom: 10px;">Name:
                        <%=name%> <span style="font-weight: bold;"></span>
                    </div>
                    <div margin-bottom: 10px;">Mobile:
                        <%=mobile%> <span style="font-weight: bold;"></span>
                    </div>
                    <div  margin-bottom: 10px;">Message:
                        <%=message%> <span style="font-weight: bold;"></span>
                    </div>
                    <div  margin-bottom: 10px;">Group Size:
                        <%=groupsize%> <span style="font-weight: bold;"></span>
                    </div>
                    <br>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>