@media (min-width: $screen-lg-min) {
    //screen size - 1200px
    // Wide Desktop
    // navbar 
    .hbc .tp {
        margin-top: 3px;
        padding-left: 230px;
    }
    .headerhide {
        display: none;
    }
    .hdp {
        padding: 25px 0 4px;
        font-weight: 700;
        color: #0b358c;
        letter-spacing: 2px;
    }
    .hdn {
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0 !important;
        margin: 0;
    }
    .himg2 .form-control {
        font-size: 19px;
    }
    .himg2 .gobtn {
        padding-left: 1px;
        width: 18%;
    }
    .mycart2 {
        top: 38px;
    }
    .mycart2 li {
        padding: 6px 38px;
    }
    .mycart2 li {
        padding: 3px 58px;
        font-size: 18px;
    }
    .mycart2 {
        top: 53px;
    } //end of navbar
    //footer
    .stp {
        font-size: 18px;
    }
    .abinfo {
        font-size: 13px;
        font-weight: bolder;
    } //end of footer
    //custom destination
    .checkboxrow .checkbox {
        padding: 0 5px !important;
    } // .checkboxrow p {
    //     margin: 0 !important;
    //     font-size: 20px;
    // }
}