 @media (max-width: $screen-md-max) {
     //max width 1199px
     // screen size 992px
     // Desktop
     //navbar
     .himg2 .dropdown-menu a {
         font-size: 11px;
     } //  .headerhide {
     //      display: block;
     //      .dropdown-menu>li>a:hover {
     //          background-color: transparent !important;
     //      }
     //      .dropdown-menu>li>a {
     //          padding: 3px 0 !important;
     //      }
     //      .btn-group.open .dropdown-toggle {
     //          box-shadow: none !important;
     //      }
     //      .dropdown-menu {
     //          margin-top: 13px;
     //          background-color: #fdd116 !important;
     //      }
     //      .fixeddrop {
     //          position: fixed !important;
     //          top: 46px !important;
     //      }
     //      .btn-group {
     //          float: left;
     //          margin-top: 20px;
     //          margin-right: 17px;
     //      }
     //      .btn-default,
     //      .btn-default:active,
     //      .btn-default:focus,
     //      .btn-default:hover {
     //          padding: 0;
     //          color: #002b7f !important;
     //          background-color: #fdd116 !important;
     //          border: none !important;
     //      }
     //      i {
     //          font-size: 25px;
     //      }
     //  }
     .widht {
         width: 798px !important;
     }
     .cont {
         width: 250px;
     }
     .hdp {
         width: 280px;
     }
     .hdn {
         font-size: 11px;
         letter-spacing: 1px;
         padding: 0 !important;
         margin: 0;
     }
     .hdn {
         margin-top: 9px;
         margin-right: 15px;
     }
     .hdn {
         font-size: 13px !important;
         width: auto !important;
     }
     .himg {
         //  width: 63px;
     }
     .himg2 .form-control {
         font-size: 16px;
     }
     .cartadd {
         //  width: 100%;
         top: 150px;
         height: auto;
     }
     .homecart {
         top: 59px !important;
     }
     .mycart2 li {
         padding: 6px 49px;
         font-size: 19px;
     }
     .mycart2 {
         //  top: 55px;
         //  left: -76px;
         top: 25%;
         left: -10%;
     }
     .navbar-default .navbar-nav>li>a {
         font-size: 10px;
     } //navbar end
     //footer
     //end of footer
     //home
     //  .p {
     //      font-size: 12px;
     //  }   .p2 {
     //       font-size: 43px;
     //   }
     .event-name {
         line-height: 12px;
         span {
             font-size: 13px;
         }
     }
     .firstimg .front .event-name {
         bottom: 23px !important;
     }
     .eventshome img {
         height: auto;
     }
     .p11 {
         letter-spacing: 3px;
         margin-right: 21px;
     } //about section
     //  .imAb {
     //      padding-top: 20%;
     //      width: 230px;
     //  }
     .sado {
         display: inline-block;
         text-align: center;
         float: inherit;
     }
     .margbotom {
         margin-bottom: 0 !important;
         font-size: 20px;
     } //home end
     //destination css starts here
     .fsiz {
         font-size: 73px;
     } //activity
     //  .m1 {
     //      margin-top: 0;
     //  }
     .category {
         margin: 0;
     }
     .maxht {
         //  height: 177px;
         max-height: 100% !important;
         max-width: 100%;
         width: 100%;
     }
     .checkboxrow .checkbox label {
         font-size: 13px !important;
         margin-left: 8px !important;
     } //  .checkboxrow p {
     //      margin: 0 !important;
     //      font-size: 15px;
     //  }
     .pattmarg3 {
         margin-top: -39px;
         margin-bottom: 3%;
     }
     .show-div {
         width: 825px;
     }
     .enqcart {
         padding: 78px 15px 74px 61px !important;
         margin-top: -14px !important;
     }
     .content2 {
         height: 125px !important;
     }
     .client_name {
         font-size: 25px;
     }
 }