@media (max-width: $screen-xs-max) {
    // Mobile
    //navbar
    .hbc .tp {
        padding-left: 0 !important;
    }
    .himg2 .dropdown-menu a {
        margin: 4px 5px !important;
    }
    .hdp {
        letter-spacing: 1px;
    }
    .himg2 .inputtag {
        width: 79%;
    }
    .himg2 .form-control {
        font-size: 12px;
        overflow: hidden !important;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
    .headerhide {
        display: none;
    }
    .headera>a {
        border-right: 0px;
    }
    .cartadd {
        width: 100%;
        top: inherit;
        bottom: 0;
        height: auto;
    }
    .mycart2 li {
        font-size: 14px;
    } //navbar end
    //footer
    .stp .form-control {
        font-size: 15px;
    } //end of footer
    //home
    .event-name span {
        letter-spacing: inherit;
        font-size: 11px;
    }
    .shadow-down {
        height: 22%;
    }
    .displaynon {
        display: none;
    }
    .display {
        cursor: pointer;
        display: block;
        margin-bottom: -21px;
        margin-top: 9%;
        padding-left: 10px;
    }
    .display2 {
        cursor: pointer;
        display: block;
        text-align: right;
        margin-bottom: 7%;
    } //enquiry section  in home
    .m4 .m2 .pd15 h1 {
        font-size: 29px;
        padding: 0;
    }
    .himg2 .inputtag {
        width: 79%;
    } //about section
    .imAb {
        width: 115px;
    }
    .sado {
        font-size: 9px;
        padding: 8px 20px;
    } //home ends here
    // destination starts here
    .fsiz {
        font-size: 30px;
    }
    .firstimg .front,
    .flexslider .slides img {
        height: inherit !important;
    } //activity
    .category .form-group select {
        width: 100% !important;
    }
    .category {
        background-color: #fdd116; // padding: 20px;
    }
    .select-main {
        width: 100%;
    }
    .checkboxrow {
        padding: 1% 2% 19%;
        text-align: center;
    }
    .checkboxrow p {
        font-size: 20px;
    }
    .whatsmain .pading0 {
        padding: 5px !important;
    }
    .patpack2 {
        font-size: 17px;
        margin-left: 7px;
        padding: 9px 29px 4px;
    }
    .pattmarg3 {
        margin-top: -25px;
        margin-bottom: 5%;
    }
    .checkboxrow {
        padding: 25px;
        padding-top: 8px;
    } //custome destination
    .panelacor .fontpanel {
        font-size: 12px;
    }
    .padding30 {
        font-size: 12px;
        padding: 0;
    }
}