<div class="container bg_aboutus">
    <div class="aboutus_para pad0">
        <div class="content1">
            <!-- <div class="abt_heading">
                <h1 class="theboldfont">May the bachelor in you rest in peace . . .</h1>
            </div> -->
            <div class="abt_para">
                <p>In the business since 1994, thanks to some amazing PR among the media, jewellery and film industry in India.....
                    This company was further powered to newer heights thanks to social media... Today we cater to a large
                    section of the elite of Mumbai as well as the media, film and advertising industry for their corporate,
                    MICE and incentives as well as personal holidays, luxury honeymoons and some great experiential travel....
                    Our motto has always been personalised service and will continue to do so as that's a huge USP for our
                    company.... We have recently ventured into destination weddings and have found success in Goa, Pune,
                    Jaipur, Thailand and lately Dubai...... We have great strength in organising landmark occasions in your
                    life like 10th / 15th / 25th anniversaries as well as landmark birthdays like 40th / 50th / 60th.....
                    We are specialists in bachelor / bachelorette parties and deliver to a level of perfection which makes
                    our clients trust us blindly.....
                </p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content2">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mob_pad0">
                <img class="img-full img_client" src="../img/client.png">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <p class="client_name">Ajay and Hema Chhabria</p>
            </div>
        </div>
    </div>
</div>