<!-- START DESKTOP SLIDER -->
<div class="homeslidr hidden-xs">
    <flex-slider id="homeslider" flex-slide="s in mySlidestop track by $index" slideshow-speed="2500" slideshow="true" animation-speed="1000"
        class="m1 carousel">
        <li>
            <img alt="The Bachelor Trip" class="img-responsive " ng-src="{{s.img}}">
        </li>
    </flex-slider>
</div>
<!-- END DESKTOP -->

<!-- START MOBILE SLIDER -->
<div class="homeslidr hidden-sm hidden-md hidden-lg">
    <flex-slider flex-slide="s in mySlidestop track by $index" class="m1">
        <li>
            <div class="item">
                <figure class=" ng-scope">
                    <!-- <a href={{s.url}} target="_blank"> -->
                    <img alt="The Bachelor Trip" class="img-responsive " ng-src="{{s.img}}">
                    <!-- </a> -->
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END MOBILE SLIDER -->

<div class="container display">
    <div class="row ">
        <div class="col-xs-12">
            <h1 class=" disp pregular" ui-sref="destination">POPULAR</h1>
            <h1 class="disp2 theboldfont" ui-sref="destination">DESTIN ATIONS</h1>
        </div>
    </div>
</div>
<div class="m8">
    <div class="mr">
        <div class="container borderup">
            <div class="addimg">
                <img alt="The Bachelor Trip" src="frontend/img/+img.png" class="img-responsive" ui-sref="destination">
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4  col-xs-6 displaynon padng0">
                    <h1 class="p p11 pregular" ui-sref="destination">POPULAR</h1>
                    <h1 class="p2 p22 theboldfont" ui-sref="destination">DESTIN ATIONS</h1>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6  padng0" ng-repeat="x in popularDestination | limitTo : 4">
                    <div class="eventshome">
                        <a ui-sref="customdestination({id:x._id})">
                            <img alt="{{x.name}}" ng-src="{{x.image|serverimage:544:545}}" class="img-responsive">
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>{{x.name}}</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="hoverimg">
                                    <img alt="ggl" class="img-responsive" src="frontend/img/ggl.png">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--second div -->
    <div class="ml">
        <div class="container borderdown">
            <div class="addimg1">
                <img alt="activity" src="frontend/img/+img.png" class="img-responsive" ui-sref="activity">
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-6 padng0" ng-repeat="x in popularAttraction | limitTo : 4">
                    <div class="eventshome" ui-sref="customdestination({id:x.destination})">
                        <img alt="{{x.name}}" title="{{x.name}}" src="{{x.image1 | serverimage:544:545}}" class="img-responsive">
                        <div class="shadow-down"></div>
                        <div class="event-name">
                            <span>{{x.name}}</span>
                        </div>
                        <div class="over-layer text-center">
                            <div class="hoverimg">
                                <img alt="ggl" class="img-responsive" src="frontend/img/ggl.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 displaynon padng0">
                    <h1 class="p p1 theboldfont" ui-sref="activity">POPULAR</h1>
                    <h1 class="p2 p222 theboldfont" ui-sref="activity">ATTRA
                        <br>CTIONS</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container display2">
    <div class="row ">
        <div class="col-xs-12">
            <h1 class=" disp pregular" ui-sref="activity">POPULAR</h1>
            <h1 class="disp2 theboldfont" ui-sref="activity">ATTRA CTIONS</h1>
        </div>
    </div>
</div>