<div class="container">
    <div class="row mf">
        <div class="col-md-3 col-sm-6 col-xs-12 foo_block">
            <strong class="stp Robotor"><a class="yellow_color" ui-sref="destination">DESTINATIONS</a></strong>
            <strong class="stp Robotor"><a class="yellow_color" ui-sref="activity">ACTIVITIES</a></strong>
            <!-- <strong class="stp Robotor"><a class="yellow_color" ui-sref="whats-hot">WHAT'S HOT</a></strong> -->
            <!-- <strong class="stp Robotor"><a class="yellow_color" ui-sref="aboutus">ABOUT US</a></strong> -->
            <!-- <strong class="stp Robotor"><a class="yellow_color" ui-sref="accessories">ACCESSORIES</a></strong>  -->
        </div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-6">
            <strong class="stp Robotor"><a class="yellow_color" ui-sref="bachlerette">BACHELORETTE</a></strong>
            <strong class="stp Robotor"><a class="yellow_color" ui-sref="highrollers">HIGHROLLERS</a></strong> -->
        <!-- <strong class="stp Robotor"><a class="yellow_color" href="" target="blank">BLOG</a></strong>
        </div>  -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <strong class="stp Robotor"><a class="yellow_color" ui-sref="contactus">CONTACT US</a></strong>
            <p class="confoot Robotor"><img src="img/call.png"> &nbsp;<a href="tel:+912265069336" class="greydark_color">+9122 6506 9336</a></p>
            <p class="confoot Robotor"><img src="img/email.png"> &nbsp;<a href="mailto:intimebydesign@gmail.com" target="_blank" class="greydark_color">intimebydesign@gmail.com</a></p>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <strong class="stp Robotor yellow_color">ENQUIRE US</strong>
            <div class="stp Robotor">
                <form name="myFormFooter" ng-submit="subscribeSubmit(subscribeData)" ng-hide="subscribeComplete || alreadySubscribed" class="form-inline">
                    <input type="email" placeholder="ENTER YOUR EMAIL ID" class="hideinput form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-email ng-touched"
                        name="email" ng-model="subscribeData.email" required="">
                    <button class="submitgo" type="submit" name="button">GO</button>
                </form>
            </div>
            <strong ng-if="subscribeComplete" class="stp Robotor yellow_color">Thank You For Subscribing.</strong>
            <strong ng-if="alreadySubscribed" class="stp Robotor yellow_color">Sorry, You have already Subscribed.</strong>
            <div class="footermen">
                <a href="https://www.facebook.com/intime.travels/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/intimebydesign" target="_blank"><i class="fa fa-twitter"></i></a>
                <!-- <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>  -->
                <a href="https://www.instagram.com/intimetravels/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>